html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
input,
textarea {
  font-family: Arial, Helvetica, sans-serif;
}
br {
  margin: 5px;
}

.App {
  min-height: 100vh;
  background: #3C4556;
  background: -moz-linear-gradient(
    137deg,
    #3C4556 0%,
  );
  background: -webkit-linear-gradient(
    137deg,
    #282A36 0%,
  );
  background: linear-gradient(137deg, #282a36 0%, rgb(99, 101, 116) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="##84e",endColorstr="#76cfff",GradientType=1);
}

.login {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: #282a36;
  padding: 50px 30px;
  width: 350px;
  text-align: center;
}
.login-form input {
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 2rem;
  line-height: 20px;
  border-radius: 15px;
  font-size: 20px;
  border: solid 2px #FFFBFE;
  transition: all 0.23s ease-in;
  width: 100%;
  text-align: center;
  margin-bottom: 7px;
}
.login-form input:focus {
  border-bottom: solid 2px #FFFBFE;
  outline: none;
}
.login-form .error {
  text-align: center;
  margin: 5px 0;
  padding: 4px 10px;
  color: #c92c43;
}

a{
  color: #FFFBFE;
}

.login-form  label span {

  margin: 10px;
}

.login-btn {
  background: #282a36;
  color: #FFFBFE;
  text-align: center;
  padding: 7px 10px;
  height: 40px !important;
  border-radius: 10px;
  margin-bottom: 5px;
}




.container {
  color: #FFFBFE;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}





#side-bar {
  box-sizing: border-box;
  width: 33.75%;
  max-width: 340px;
  min-width: 240px;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

#side-bar .heading .app-name {
  font-size: 1.5rem;
  align-items: center;
}


#side-bar .heading .menu {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
}
#side-bar .heading {
  box-sizing: border-box;
  height: 12vh;
  max-height: 65px;
  padding: 18px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #282a36;
}
#side-bar .search {
  background: #282a36;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0;
  border-style: solid;
  border-color: #282a36;
  padding-left: 15px;
  padding-right: 20px;
  height: 10vh;
  max-height: 65px;
}
#side-bar .search .search-icon {
  margin-right: 15px;
  cursor: pointer;
}
#side-bar .search input {
  width: 100%;
  background: #282a36;
  flex-grow: 1;
  box-sizing: border-box;
  border: none;
  color: #FFFBFE;
}
#side-bar .search input:focus {
  outline: none;
}
#side-bar .search input::placeholder {
  color: #FFFBFE;
  opacity: 0.6;
}
#side-bar .search .add {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 1.5em;
}
#side-bar .search .plus {
  margin: 7px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 13px;
}
#side-bar .search .plus::after,
#side-bar .search .plus::before {
  content: "";
  position: absolute;
  background: #b3b2ca;
}
#side-bar .search .plus::after {
  width: 16px;
  height: 2px;
  top: 5px;
}
#side-bar .search .plus::before {
  width: 2px;
  height: 16px;
  top: -2px;
  left: 7px;
}
#side-bar .users {
  overflow-y: scroll;
  background: #4f505a;
  flex-grow: 1;
}
#side-bar .users::-webkit-scrollbar-track {
  background-color: #FFFBFE;
}
#side-bar .users::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
#side-bar .users::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
#side-bar .users .user {
  align-items: center;
  display: flex;
  height: 66px;
  justify-content: flex-start;
  padding: 18px 16px;
}
#side-bar .users .user.active,
#side-bar .users .user:hover {
  background: #454751;
}
#side-bar .users .user:hover:not(.active) {
  cursor: pointer;
}
#side-bar .users .user .user-info {
  margin-left: 15px;
  flex-grow: 1;
}
#side-bar .users .user .user-info .last-message {
  font-size: 12px;
  opacity: 0.56;
}
#side-bar .users .user .new-message {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#side-bar .current-user {
  align-items: center;
  background: #282a36;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 10vh;
  max-height: 65px;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

#side-bar .side-bar-select {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#side-bar .side-bar-select__option {
  background: #282a36;
  padding: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#side-bar .side-bar-select__option.active {
  background: #4f505a;
}

#side-bar .current-user .user {
  padding: 7px;
  font-size: 1.1em;
  cursor: pointer;
}
#side-bar .current-user .user span {
  margin: 0 5px;
}
#side-bar .current-user .logout {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}


/*CHATT*/
.chat-room-container {
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 510px) {
  #side-bar {
    position: absolute;
    left: -100%;
  }
  .chat-room-container {
    width: 100%;
  }
}
.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.chat-room.choose {
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.thread-container {
  flex-grow: 1;
  overflow-y: scroll;
  position: relative;
}
.thread-container::-webkit-scrollbar-track {
  background-color: #FFFBFE;
}
.thread-container::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.thread-container::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.thread-container .thread {
  position: relative;
  width: 100%;
  min-height: 900px;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFFBFE;
  background: #76777f;
}
.message-container {
  display: flex;
  justify-content: flex-start;
  min-height: 50px;
  margin: 10px 15px;
  animation: 0.65s ease-out 0s show;
}
.message-container .time {
  order: 1;
  font-size: 0.8rem;
}
.message-container .data {
  order: 2;
  height: 100%;
  margin-left: 1.5%;
  font-size: 1.2rem;
}
.message-container .name {
  font-size: 0.65em;
  margin-top: 5px;
  text-align: right;
}
.message-container .message {
  background: #454751;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-sizing: border-box;
  color: #FFFBFE;
  height: 100%;
  padding: 10px 15px;
  position: relative;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.message-container .message::before {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: #454751;
  border-style: solid;
  border-top-color: #454751;
  border-width: 4px;
  content: "";
  height: 0;
  left: -7px;
  position: absolute;
  top: 0;
  width: 0;
}
.message-container.right {
  text-align: right;
  justify-content: flex-end;
}
.message-container.right .time {
  order: 2;
  margin-left: 1.5%;
  font-size: 0.8rem;
}
.message-container.right .data {
  margin-left: 0;
  order: 1;
  font-size: 1.1rem;
}
.message-container.right .name {
  display: none;
}
.message-container.right .message {
  background: #282a36;
  color: #FFFBFE;
  border-top-right-radius: 0;
  border-top-left-radius: 5px;
}
.message-container.right .message::before {
  border-top-color: #282a36;
  border-left-color: #282a36;
  border-right-color: transparent;
  left: auto;
  right: -7px;
}
.typing-user {
  text-align: right;
  margin: 10px 15px;
}
.message-input {
  background: #282A36;
  color: #FFFBFE;
  box-sizing: border-box;
  height: 10vh;
  max-height: 65px;
}
.message-input .message-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.message-input .message-form .form-control {
  padding-top: 24px;
  padding-bottom: 24px;
  resize: none;
  padding-left: 15px;
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  border: none;
  background: #282A36;
  color: #FFFBFE;
  font-size: 1.1rem;
}
.message-input .message-form .form-control::-webkit-scrollbar-track {
  background-color: #FFFBFE;
}
.message-input .message-form .form-control::-webkit-scrollbar {
  width: 5px;
  background-color: green;
}
.message-input .message-form .form-control::-webkit-scrollbar-thumb {
  background-color: #484d79;
}
.message-input .message-form .form-control:focus {
  outline: none;
}
.message-input .message-form .send {
  width: 20%;
  box-sizing: border-box;
  font-size: 1.25em;
  text-align: center;
  border: none;
  height: 100%;
  color: #FFFBFE;
  background: #454751;
  transition: all 0.35s ease-out;
}
.message-input .message-form .send:disabled {
  opacity: 0.2;
  background: #282A36;
}

/*SETTTINGS*/
.settings {
  display: flex;
}

.settings-modal {
  
  background: #3b3d48;
  padding: 25px;
  width: 100%;
}

.settings-modal .settings-title {
  text-align: center;
  text-justify: auto;
  font-size: 20px;
  padding: 5px auto;
}

.settings-form {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-items: center;
}

.settings-form button {
  background: #3C4556;
  color: #FFFBFE;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  height: 50px !important;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
}

.settings-form .setting-buttons {
  margin: 15px 0px;
  width: 100%;
  display: flex;
}
.settings-form .setting-buttons .close {
  margin-right: 5px;
}
.settings-form .setting-buttons .save {
  margin-left: 5px;
}
.settings-form .setting-buttons button {
  margin: 7px 0px;
}

.settings-form .settings-label {
  font-size: 18px;
  margin-top: 10px;
  width: 100%;
}
.settings-form .be-careful {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.settings-form .be-careful .delete-account {
  font-size: 15px;
  background: crimson;
  font-weight: bold;
  width: 100%;
}

.settings-label input {
  max-width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
  font-size: 15px;
  width: 100%;
  border-radius: 5px;
  text-indent: 10px;
  font-weight: bold;
}
